<%= f.hidden_field :id %>
<%= f.hidden_field :seat_category_id, value: (f.object ? f.object.seat_category_id : nil) %>
<div class="form-group">
  <label for="seat_category_id" class="col-sm-2 control-label">Seat Category</label>
  <div class="col-sm-6">
    <%= f.collection_select :seat_category_id,
                              SeatCategory.all.order(:id),
                              :id,
                              :name,
                              {},
                              {:class=>'input-field col s12'} %>
  </div>
</div>

<div class="form-group">
  <label for="number_of_rows" class="col-sm-2 control-label">Number of rows</label>
  <div class="col-sm-6"><%= f.text_field :number_of_rows, class: "form-control" %></div>
</div>

<div class="form-group">
  <label for="seats_in_row" class="col-sm-2 control-label">No.of seats in row</label>
  <div class="col-sm-6"><%= f.text_field :seats_in_row, class: "form-control" %></div>
</div>

<div class="form-group">
  <label for="amount" class="col-sm-2 control-label">Base price</label>
  <div class="col-sm-6"><%= f.text_field :base_amount, class: "form-control" %></div>
</div>

<div class="form-group">
  <label for="delete" class="col-sm-2 control-label">Delete</label>
  <div class="col-sm-6">
    <%= f.check_box :_destroy %>
  </div>
</div>
<hr />

